<img src="assets/vision-mission.png" width="100%" height="250px" class="vision-mission">


<section id="content">
    <aside id="sidebar">
        <h1 id="A">About Us</h1>
        <div>
        
        <h3>Our Mission</h3>
        <ul>
            <li>To nurture 21st century skills by a holistic and transformative educational curriculum</li>
          <li>To promote a transdisciplinary sustainable ecosystem for quality research activities and societal outreach with global competence</li>
           <li>To cultivate an entrepreneurial and innovation mindset to keep pace with new- age technology</li>
           <li>To inculcate reflective and inclusive thoughts through Indian knowledge system</li>
           <li>To practice universal harmony for self-reliance and mutual development.</li>
        </ul>
        <div>
        
        <img src="assets/pic.jpeg" width="250px" height="150px">
       
        <h3>Our Vision</h3>
        <p>Being  a beacon of transformative education for women to traverse global milestones by embracing high personal values, cultural ethos and innovative leadership for a  futuristic progress.</p>
     

        </div>
        </div>
        
    </aside>
   <article class="column1">
    <img src="assets/img.jpeg" width="550px" height="450px">

   </article>
</section>
