<header>
   <h2><img src="assets/logo.png" width="80px" height="30px"> College Academic</h2>
   <address>
       <h3>Vaishnav College (Autonomous)</h3>
   </address>
   <h4>
       <img src="assets/logo.png" class="logo" width="80px" height="30px">
       Owned and Managed by Cork Industries Charities Trust
       <img src="assets/year.png" width="80px" height="30px">
   </h4>
   <div>
       <p>Affiliated to University of Madras - Re-Accredited with 'A+' Grade by NAAC</p>
   </div>
</header>

<nav>
   <a routerLink="Home">Home</a>
   <a routerLink="About">About</a>
   <a routerLink="StudentLogin">StudentLogin</a>
   <a routerLink="Placement">Placement</a>
   <a routerLink="Contact">Contact</a>
</nav>
<router-outlet></router-outlet>
<footer>
   <nav>
   <a routerLink="Home">Home</a>
   <a routerLink="About">About</a>
   <a routerLink="StudentLogin">StudentLogin</a>
   <a routerLink="Placement">Placement</a>
   <a routerLink="Contact">Contact</a>
   </nav>

   <p class="footer-text">Copyright &copy; SDNBVC 2025</p>
</footer>
