<h3>Placement</h3>
        <p>Training and Placement Cell at S.D.N.B. Vaishnav College for Women achieves 100% Placement every year with an effective institutional arrangement primarily aimed to train and place our both U.G. and P.G final year students of Shift – I and Shift – II in the best known corporate entities all over India. This academic year has been another eventful and landmark year for the Training and Placement Cell of S.D.N.B Vaishnav College.

            Training and placement cell plays a predominant role in every students life. The cell organizes campus interviews to facilitate suitable job opportunity for the final year students after their graduation. Globally renowned Corporate organizations like CTS, Dell, TCS, Acceture, Maverick etc.visit our campus to recruit our students. The cell disseminates information pertaining to the availability of jobs to the prospective candidates. Thousands of students are benefited and well posted in various reputable organizations. The cell conducts various training programmes by invited HRs, corporate bigwigs etc., to aid the students for their future pursuits.
            
            All students registered for placement were placed and 100% placement has been achieved this year as well with prominent companies like Tech Mahindra, CTS, Wipro, Virtusa, TCS etc The Cell is headed by a Training & Placement Officer in charge and assisted by Student Placement Coordinators who lead a team of placement representatives from various courses of study.</p>

<div id="c1">
    <figure>
    <img src="assets/placement-1.jpeg" width="200px" height="200px">
    </figure>
    <figure>
    <img src="assets/placement-2.jpeg" width="200px" height="200px">
     </figure>
     <figure>
    <img src="assets/placement3.jpeg" width="200px" height="200px">
    </figure>
     </div>
     <div id="c2">
    <figure>
    <img src="assets/placement-4.jpeg" width="200px" height="200px">
    </figure>
     <figure>
    <img src="assets/placement5.jpeg" width="200px" height="200px">
    </figure>
    <figure>
    <img src="assets/placement6.jpeg"width="200px" height="200px">
    </figure>
    </div>
<details>
    <summarY><h3>Recruiters</h3></summarY>

   <div id="c3">
    <figure>
    <img src="assets/sdnb-recruiter1 (1).jpeg" width="200px" height="200px">
    </figure>
    <figure>
    <img src="assets/sdnb-recruiter2 (1).jpeg" width="200px" height="200px">
     </figure>
     <figure>
    <img src="assets/sdnb-recruiter3 (1).jpeg" width="200px" height="200px">
    </figure>
    <figure>
        <img src="assets/sdnb-recruiter5.jpeg" width="200px" height="200px">
        </figure>
     </div>
     <div id="c4">
    <figure>
    <img src="assets/sdnb-recruiter6.jpeg" width="200px" height="200px">
    </figure>
     <figure>
    <img src="assets/sdnb-recruiter7.jpeg" width="200px" height="200px">
    </figure>
    <figure>
    <img src="assets/sdnb-recruiter8.jpeg"width="200px" height="200px">
    </figure>
    <figure>
        <img src="assets/sdnb-recruiter9.jpeg"width="200px" height="200px">
        </figure>
    </div>