<header>
<img src="assets/college pic.jpg" width="100%" height="350px">

<marquee   direction="left" behaviour="slide"   scrollamount="10" >
  
  <a routerLink="/Admission"><p class="col-sm-12 bg-danger"> Admission Resistration open for 2025-26 Academic Year from 5-02-2025</p></a></marquee>

</header>
<article>
  <h3 class="col-sm-12">WELCOME TO VAISHNAV COLLEGE</h3>
 <p > college was started in 1968 with the generous donation of 10 acres of land by our Late Founder Chairman Shri Nanalal Bhatt and 6 lakhs donated by Cork Industries Charities Trust. The College stands in the name of our Late Founder Chairman’s wife Shrimathi Devkunvar and it has efficiently rendered dedicated service to the cause of women’s education. The vision of our founder was to educate the girl children, with this mission in mind, he started Shrimathi Devkunvar Nanalal Bhatt Vaishnav College with 300 girl Students in P.U.C then. This philanthropist devoted his life for the upliftment of women through education.</p>
 <div id="c1">
  
  <figure>
  <img src="assets/vaishnav college pic2.jpg" width="200px" height="200px">
   </figure>
   <figure>
  <img src="assets/vaishnav college pic3.jpg" width="200px" height="200px">
  </figure>
   </div>
   <div id="c2">
  <figure>
  <img src="assets/vaishnav college pic4.jpg" width="200px" height="200px">
  </figure>
   <figure>
  <img src="assets/vaishnav college pic5.jpg" width="200px" height="200px">
  </figure>
   </div>
  </article>

 

